OPENAI_API_BASE=https://api.openai.com/v1
OPENAI_API_KEY=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